# 忽略 ROS2 编译生成的目录
**/build/
**/install/
**/log/

# 忽略 VS Code 配置
.vscode/

*.dat
*.whl
*.pth
*.onnx

src/aws-robomaker-hospital-world/*
!src/aws-robomaker-hospital-world/worlds/
!src/aws-robomaker-hospital-world/worlds/*.world